<% if(success && success.length ) {%><!--here we check to the array of the  that  is succes shoul be greater than 0 then show otherwise not show this-->
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert"> 
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
      <% } %>

      <% if(error && error.length ) {%><!--here we check to the array of the  that  is succes shoul be greater than 0 then show otherwise not show this-->
        <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert"> 
            <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
          <% } %>
