<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <!--taking to the whole form in the row and column form -->
 <div class="col-8 offset-2"><!--giving off set means setting the form in center by giving margin from left-->
    <h3>Create a new Listings</h3>
    <form method="POST"  action="/listings" novalidate  class=".needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add catchy title" type="text" class="form-control" 
             required
            />
            <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-3">
             <label for="description" class="form-label" >Description</label>
            <textarea name="listing[description]"  class="form-control" required></textarea>
        </div>
    
      
       <div class="mb-3">  
        <label for="image" class="form-label">Upload Image</label>  
          <input name="listing[image]"  type="file" class="form-control">
      </div>
       <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
           <input name="listing[price]" placeholder="enter price" type="number" class="form-control" required>
           <div class="invalid-feedback">Please enter valid price</div>
       </div>


       <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input  name="listing[country]"  placeholder="India" type="text" class="form-control" required>
        <div class="invalid-feedback">please enter valid country name</div>
    </div>

       </div>
       
      <!--all fields are required to fil it  excet to image -->
      <!--by using script .js  file whuch make it possible-->
        
       <div class="mb-3">
        <label for="location" class="form-label">Location</label>
         <input name="listing[location]" placeholder="enter the location" type="text" class="form-control" required>
         <div class="invalid-feedback">please enter valid location name</div>
        </div>
       
      
        
        <br/><br/>
       <button class="btn btn-dark mb-3 add-btn"> Add</button>
    </form>
</body>
</html>
</div>
</div>